<div class="row">
  <div class="col-md-4 col-md-offset-1 manga-div" *ngFor="let m of manga">
        <div class="text-center">
          <h3>{{m.title}}</h3>
        </div>
        <img src="{{m.image}}" alt="">
        <button routerLink="/details/{{m._id}}">Details</button>
        <button *ngIf="authService.isAuthenticated() && !authService.isAdmin()" (click)="addToCart(m._id)">Add</button>
        <button *ngIf="authService.isAuthenticated() && authService.isAdmin()" (click)="removeManga(m._id)">Remove</button>
  </div>
</div>